{% extends 'base.html'%}

{% block content %}

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{blogpost.title}}</div>
    <div class="card-body">
        <h5 class="card-title">{{blogpost.post}}</h5>
        <a class="btn btn-primary" href="/pitch/new_comment/{{blogpost.id}}">ADD COMMENT</a>
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{{url_for('auth.deleteblog',id=blogpost.id )}}">DELETE POST</a>
        {% endif %}
    </div>

</div>
<h2> <em>COMMENTS</em> </h2>
<div class="jumbotron">

    {% for comment in comments %}


    <div class="container-fluid">
        <div class="card">
            <p>{{comment.comment}}</p>
        </div>
    </div>


</div>
    {% endfor %}
{% endblock %}